P { text-indent: 1.00cm; text-align:justify }
H1 { border: solid green; background: burlywood; color: cyan; text-align: center }
H2 { border: solid brown; background: oldlace; text-align: left }
H2.name { border: none; background: white; text-align: center }
OL { border: solid orange; background: oldlace; list-style-type: lower-roman }
DL { font-style: bold; background: oldlace; border: solid orange }
