body {
	font:12px verdana, arial, helvetica, sans-serif;
	/*background-color:#ffff88;*/
	background-color:#f4f1bf;
	color:#000000;
}

a:link {
	color:#00c;
	text-decoration:underline;
}
a:visited {
	color:#551a8b;
	text-decoration:underline;
}



#logo {
	position:relative;
	/*top:5px;*/
	border:1px solid black;
}

#twdtlogo {
	border:1px solid black;
	margin-bottom:20px;
}


#tux {
	position:absolute;
	top:3px;
	left:80%;
}

#navigation a {
	margin-left:4px;
}

#navigation {
	border:1px solid black;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	margin:10px 0 4px;
	background:#FFFFFF;

	/* width:83%; */
	/* width:97%; */
	width:88%;
	
	position:relative;
	/*left:8px;*/
	/*top:96px;*/

	text-align:right;

}

#navigation a:link {
	font:11px verdana, arial, helvetica, sans-serif;
	text-decoration:underline;
}

#navigation a:visited {
	font:11px verdana, arial, helvetica, sans-serif;
	text-decoration:underline;
}

.plate {
	top:105px;
}

.content-right {
	border:1px solid black;
	/* padding:20px; */
    padding: 0px !important;
	background-color:#FFFFFF;
}

.content {
	border:1px solid black;
	padding:20px;
	background-color:#FFFFFF;
}

.content blockquote {
	font-size: 12px;
}

.articlecontent {
	position: absolute;
	/*top: 180px;*/
	top: 143px;
	width:84%;
}

.articlecontent1 {
	position: relative;
	/*top: 143px;*/
	/*top: 114px;*/
	width:85%;
	left:2%;
	margin-top:5px;
}

.fullpagediv {
	width:87%;
	margin-top: 40px;
	*margin-top: 51px; /* IE 7 Hack */
}

.content h3 {
	font-size:14px;
}

.content h2 {
	font-size:16px;
}

.content h1 {
	font-size:19px;
	text-align:center;
}

.content i, em {
	line-height: 1em;
}

/* .content pre {
	font-family: verdana, sans-serif;
	font-size:110%;
} */

.articlecontent h1 {
	font-size:19px;
	text-align:center;
}

.editorial {
	font-style: italic;
	color: #009900;
}

.bio {
	margin-right: 20px;
}

.sig {
	/* text-align: top; */
	margin-top: 50px;
	margin-bottom: -30px;
}

.cartoon {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.cartoon img {
	border: none;
	width: 700px;
}

.cartoon1 {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.cartoon1 img {
	border: none;
	max-height: 300px;
}

#by {
	text-align:center;
}

#breadcrumbs {
	margin-top:5px;
	position:absolute;
	/*top:160px;*/
	/*top:124px;*/
	top:129px;
	*top:140px; /* Another IE7 hack */
	left:20px;
	padding:0px;
	margin:0px;
	font:11px verdana, arial, helvetica, sans-serif;
}

#breadcrumbs1 {
	position:relative;
	/*top:124px;*/
	/*top:160px;*/
	left:20px;
	margin:0;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
}

#breadcrumbs a:link {
	font:11px verdana, arial, helvetica, sans-serif;
	color:#00c;
	text-decoration:underline;
}

#breadcrumbs1 a:link {
	font:11px verdana, arial, helvetica, sans-serif;
	color:#00c;
	text-decoration:underline;
}

#breadcrumbs a:visited {
	font:11px verdana, arial, helvetica, sans-serif;
	color:#551a8b;
	text-decoration:underline;
}

#breadcrumbs1 a:visited {
	font:11px verdana, arial, helvetica, sans-serif;
	color:#551a8b;
	text-decoration:underline;
}

pre.code {
	background-color:#f4f1bf;
	border:1px solid black;
	padding:10px;
	font-size: 95%;
	overflow: auto;
}

#previousnexttop {
	width:90%;
	text-align:right;
}

#previousnextbottom {
	width:90%;
	text-align:right;
	margin-top:30px;
}

#articlefooter {
	font-size:10px;
	font-weight:bold;
	margin-top:20px;
}
#articlefooter p {
	padding:0px;
	margin:0px;
}


#fun {
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	position:absolute;
	top:40px;
	left:31%;
	margin:0px;
	padding:0px;
}

.irc {
    background-color:#f4f1bf;
    border:black solid 1px;
	padding: 20px;
	margin: 20px;
}

.irc td {
	font-family: sans-serif;
	font-size: 80%;
	vertical-align: top;
}

.irc td#q {
	width: 200px;
	font-weight: bold;
	color: blue;
}

.irc td#r {
	width: 200px;
	font-weight: bold;
	color: green;
}

.irc td#other {
	width: 200px;
	font-weight: bold;
}

.talkback {
	margin-top: 40px;
	padding: 10px;
	background-color: lightgray;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
}

.talkback a {
	text-decoration: none;
	color: green;
}

#news h2 {
	color: green;
	text-align: center;
}

#news h3 {
	color: green;
}

.pullquotes table {
	width: 85%;
	margin: 5 auto;
}

.pullquotes td {
	padding: 10px 20px;
}

.pullquotes strong {
	font-size: 13px;
}

