body {
	font:12px verdana, arial, helvetica, sans-serif;
	/*background-color:#ffff88;*/
	background-color:#f4f1bf;
	color:#000000;
}


a:link {
	color:#00c;
	text-decoration:underline;
}
a:visited {
	color:#551a8b;
	text-decoration:underline;
}



#logo {
	position:absolute;
	top:5px;
	border:1px solid black;
}

#twdtlogo {
	border:1px solid black;
	margin-bottom:20px;
}


#tux {
	position:absolute;
	top:3px;
	left:80%;
}


#navigation ul {
	border:1px solid black;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	margin:0px;
	background:#FFFFFF;

	display:table;
	width:97%;
	
	position:absolute;
	left:0px;
	top:0px;

	text-align:right;

}

#navigation {
	position:absolute;
	top:96px;
	width:97%;
	left:8px;


	text-align:right;

}


#navigation li {
	display: inline;
	font:11px verdana, arial, helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
	margin-bottom:5px;
}


#navigation li a:link {
	font:11px verdana, arial, helvetica, sans-serif;
	text-decoration:underline;
}


#navigation li a:visited {
	font:11px verdana, arial, helvetica, sans-serif;
	text-decoration:underline;
}


.content {
	border:1px solid black;
	padding:20px;
	background-color:#FFFFFF;
}


.articlecontent {
	width:84%;
}
.fullpagediv {
	width:84%;
}


.content h3 {
	font-size:14px;
}

.content h2 {
	font-size:15px;
}

.content h1 {
	font-size:16px;
}


.articlecontent h1 {
	font-size:19px;
	text-align:center;
}


#by {
	text-align:center;
}


#breadcrumbs {
	margin-top:5px;
	position:absolute;
	top:124px;
	left:20px;
	padding:0px;
	margin:0px;
	font:11px verdana, arial, helvetica, sans-serif;

	display:table;
}


#breadcrumbs li {
	display: inline;
}
#breadcrumbs li a:link {
	font:11px verdana, arial, helvetica, sans-serif;
	color:#00c;
	text-decoration:underline;
}
#breadcrumbs li a:visited {
	font:11px verdana, arial, helvetica, sans-serif;
	color:#551a8b;
	text-decoration:underline;
}


pre.code {
	background-color:#f4f1bf;
	border:black solid 1px;
	padding:10px;
}

#previousnexttop {
	width:90%;
	text-align:right;
}

#previousnextbottom {
	width:90%;
	text-align:right;
	margin-top:30px;
}

#articlefooter {
	font-size:10px;
	font-weight:bold;
	margin-top:20px;
}
#articlefooter p {
	padding:0px;
	margin:0px;
}


#fun {
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	position:absolute;
	top:40px;
	left:31%;
	margin:0px;
	padding:0px;
}

