
my $Temp_List = $Info->List('TABLENAME','all','none');

foreach my $Key (sort keys %$Temp_List) 
  {
  my $ref = $Temp_List->{$Key};
  my $Selected = "";
  if ($ref->{'TABLENAME_id'} eq $Ids->{'TABLENAME_id'}) 
    {$Selected = " selected";}
  my $Id_Encrypt = PACKAGE::Misc->Encrypt($ref->{'TABLENAME_id'});
  my $Status = "Active";
  if ($ref->{'active'} == 0) {$Status = "Inactive";}

  $Other_Lists->{'TABLENAME_id'} .= qq(<option value="$Id_Encrypt" $Selected> $ref->{'TABLENAME_id'} : $Status\n);
   }







