
.pageLinks {
    background-color: #eeeeee;
    padding: 10px;
    display: inline;  /* To prevent box from spreading the entire width. */
}

.pageLinkItem {
    border-style: outset;
    border-color: black;
    border-width: 1px;
    padding: 2px;
    margin-right: 5px;
}

form.noFrills {   /* Undo everything the default form style does. */
    border-style: none;
}
