/* ------------------------------------------------------------
 * Image description - image area annotation stylesheet
 * Copyleft by M.Kanzaki, under GPL
 * original: 2003-12-11
 * revised : 2005-05-29
 * (Recent look and feel is getting close to Greg Elin's Fotonotes)
 * -----------------------------------------------------------*/

#absarea {position:absolute;/*top:140px;*/margin-right:2em}
/*#imgdesc {display:none}*/
#intro {border:dotted gray 1px; padding:1em}
a.box {position:absolute;display:block; /*border:#f99 dotted 1px;*/overflow:visible}
a.box span.areanum {position:absolute; display:block;background:#f44; border:#f33 outset 1px; height:14px; width:14px; padding:2px;text-align:center;font-size:12px;}
a.box span.descr {position:absolute; display:none;}

a.box img {position:absolute}
a.box:link, a.box:visited {color: white; text-decoration:none;}
a.box:hover {background:transparent; border:red dashed medium; z-index:10}
a.norect:hover {border-color:#f60}
/*a.box:hover span.areanum {background:#f44;border-color:#f33}*/
/*a.box:hover span.areanum {filter:Alpha(opacity=30); -moz-opacity:0.3}*/
a.box:hover span.areanum {display:none;background:transparent;border:none}
a.box:hover span.descr {display:block;background:#f22; border:#c22 outset 1px; width:160px; padding:0.5em;text-align:left;font-size:12px;line-height:15px; filter:Alpha(opacity=90);/* -moz-opacity:0.9;*/}

#imgdesc ul, .absdisp ul {display:inline}
#imgdesc ul li, .absdisp ul li {display:inline;list-style:none}

h3 {margin-top:1.2em; background:#eef; padding:0.2em}
table {width:100%; margin-bottom:1em}
tbody th {text-align:left; color: green}
th.property, td.label {width:25%}
dfn {color:green; font-weight: normal}

