[mysqld]
datadir=__PREFIX__/data
socket=__PREFIX__/var/lib/mysql/mysql.sock
log-bin=__PREFIX__/data/main_log
slave-load-tmpdir=__PREFIX__/slave_load
tmpdir=__PREFIX__/tmp
bind-address=127.0.0.1
myisam-recover=BACKUP,FORCE
log-long-format
log-slow-query

innodb_data_file_path=innodata1:10M;innodata2:10M:autoextend:max:30M
default-table-type=innodb

key_buffer_size=64k
table_cache = 10

skip-external-locking
max_connections=200
read_buffer_size=1M
sort_buffer_size=1M

innodb_flush_log_at_trx_commit = 2
innodb_log_files_in_group = 2
innodb_log_file_size = 50M
     
[mysql.server]
user=mysql
basedir=__PREFIX__

[safe_mysqld]
err-log=__PREFIX__/var/log/mysqld.log
pid-file=__PREFIX__/var/run/mysqld/mysqld.pid

[mysql]
socket=__PREFIX__/var/lib/mysql/mysql.sock

[mysqladmin]
socket=__PREFIX__/var/lib/mysql/mysql.sock

