<h1 align="center"><img alt="Linux Gazette" src="gx/mirr.gif" align="middle" 
width="255" height="153" hspace="40"> Mirror Sites</H1>

<p> <strong>Updated <TMPL_VAR NAME=UPDATE></strong></p>

<p> The following sites all over the world have volunteered their
resources to host <i>Linux Gazette</i> and to translate it into other
languages.
<strong><font color="green"><tt>[WWW]</tt></font></strong> sites are for on-line reading;
<strong><font color="red"><tt>[FTP]</tt></font></strong> sites contain the <i>LG</i> in downloadable *.tar.gz format.
Please choose a site near you.
<p>

<h2>Official Linux Gazette Site</h2>

<dl>

<dt><strong><font color="maroon">Linux Gazette</font></strong></dt>
<dd><strong><font color="green"><tt>[WWW]</tt></font></strong>
<a href="http://linuxgazette.net/">
http://linuxgazette.net/</a><br>
</dd>

<p><br></p>

</dl>

<h2>Foreign Language Translations</h2> 

<table border="0">
<tr>
<td width="50%">
<dl>
<TMPL_LOOP NAME=LANG> 
<dt><b><font color="maroon">
<a name="<TMPL_VAR NAME=LNG>"></a><TMPL_VAR NAME=LNG>
</font></b></dt>

<TMPL_LOOP NAME=GROUP>
<dd>
<TMPL_IF NAME=HTTP>
<strong><font color="green"><tt>[WWW]</tt></font></strong>
<a href=<TMPL_VAR ESCAPE=HTML NAME=HTTP>><TMPL_VAR ESCAPE=HTML NAME=HTTP></a><br>
</TMPL_IF>

<TMPL_IF NAME=FTP>
<strong><font color="red"><tt>[FTP]</tt></font></strong>
<a href=<TMPL_VAR ESCAPE=HTML NAME=FTP>><TMPL_VAR ESCAPE=HTML NAME=FTP></a><br>
</TMPL_IF>
<small>
Maintainer: 
<a href="mailto:<TMPL_VAR NAME=EMAIL>"><TMPL_VAR NAME=TRANS></a>
&nbsp;
<b>[<TMPL_VAR NAME=COUNTRY>]</b>
</small>
<p>
</dd>

</TMPL_LOOP>
</TMPL_LOOP>

</dl>
</td>
<td valign="top">
<p>
<b>Note:</b> <i>LG</i> does not endorse specific translations as being official;
they're independent projects. However, we gratefully acknowledge all
translations and list those we know about here.
</p>

<p> If you would like to help translate <i>LG</i> articles, contact the
coordinator of your language's translation team,  and don't forget to to
subscribe to the <a
href="mailto:&#108;&#103;&#45;&#116;&#114;&#97;&#110;&#115;&#108;&#97;&#116;&#111;&#114;&#115;&#45;&#114;&#101;&#113;&#117;&#101;&#115;&#116;&#64;&#108;&#105;&#110;&#117;&#120;&#103;&#97;&#122;&#101;&#116;&#116;&#101;&#46;&#110;&#101;&#116;">lg-translators@linuxgazette.net</a>
list. If there is no version of <i>LG</i> in your language, start one! Be
sure to fill out and email us the form in the <a
href="http://linuxgazette.net/ftpfiles/README.mirrors">README.mirrors</a>
file; you'll be listed as the coordinator for your language.  If you'd like
to help translating from your language into English, contact the <a
href="mailto:&#101;&#100;&#105;&#116;&#111;&#114;&#64;&#108;&#105;&#110;&#117;&#120;&#103;&#97;&#122;&#101;&#116;&#116;&#101;&#46;&#110;&#101;&#116;">editor</a>,
and we'll let you know when the mail comes in.</p>
</td>
</tr>
</table>

<!-- 
*****************************************************
<i>Linux Gazette</i> is a member of the Linux Documentation Project and is
included 
on all <a href="http://www.linuxdoc.org/mirrors.html">LDP mirrors</a>. 
These are not listed below.             
<hr>
*****************************************************
-->

<h2>Country Index</h2>

<TMPL_LOOP NAME=ANCH>
<a href="#<TMPL_VAR NAME=ANCHOR>"><TMPL_VAR NAME=FQDN></a>
&nbsp;
</TMPL_LOOP>

<hr>

<dl>
<TMPL_LOOP NAME=MIRR> 

<dt><b><font color="maroon">
<a name="<TMPL_VAR NAME=TLD>">
<img src="gx/flags/<TMPL_VAR NAME=TLD>.png"jpg border="1">
</a>
<TMPL_VAR ESCAPE=HTML COUNTRY> [<TMPL_VAR NAME=TLD>]
</font></b></dt>

<TMPL_LOOP NAME=SITES>

<dd>
<TMPL_IF NAME=HTTP>
<strong><font color="green"><tt>[WWW]</tt></font></strong>
<a href=<TMPL_VAR ESCAPE=HTML HTTP>>
<TMPL_VAR ESCAPE=HTML HTTP>
</a><br>
</TMPL_IF>

<TMPL_IF NAME=FTP>
<strong><font color="red"><tt>[FTP]</tt></font></strong>
<a href=<TMPL_VAR ESCAPE=HTML NAME=FTP>>
<TMPL_VAR ESCAPE=HTML NAME=FTP>
</a><br>
</TMPL_IF>
<small>
Maintainer: 
<TMPL_VAR NAME=MAINT>
</small>
<p>
</dd>

</TMPL_LOOP> 
</TMPL_LOOP> 

</dl>

<hr>                    
<h2>Mirroring <i>Linux Gazette</i></h2>
If you would like to mirror <i>Linux Gazette</i> yourself, a complete
directory tree and the FTP subtree are available via <b>rsync</b> from our
main site; basic instructions for set up are in the <a
href="http://linuxgazette.net/ftpfiles/README.mirrors">README.mirrors</a>
file. Please be sure to notify us when you do; your URLs will be posted
here and your name will be added to the <a
href="mailto:&#108;&#103;&#45;&#109;&#105;&#114;&#114;&#111;&#114;&#115;&#45;&#114;&#101;&#113;&#117;&#101;&#115;&#116;&#64;&#108;&#105;&#110;&#117;&#120;&#103;&#97;&#122;&#101;&#116;&#116;&#101;&#46;&#110;&#101;&#116;">lg-mirrors</a> (very low
traffic) list. See README.mirrors for details.               

<p> 
If you have sent information about your mirror site and it doesn't yet
appear on this list or is incorrect, please resend the info. Mail has been
known to get lost, and typing fingers have been known to wander. Also, be
careful that you type the full URL and the e-mail address correctly. If I
can't find your site, I'll be writing you before adding it to the list.
</p>

<p>
Be sure to subscribe to our announcement service. Write to <a
href="mailto:&#108;&#103;&#45;&#97;&#110;&#110;&#111;&#117;&#110;&#99;&#101;&#45;&#114;&#101;&#113;&#117;&#101;&#115;&#116;&#64;&#108;&#105;&#110;&#117;&#120;&#103;&#97;&#122;&#101;&#116;&#116;&#101;&#46;&#110;&#101;&#116;">lg-announce-request</a>
with the word <code>subscribe</code> in the body, so that each month you
will receive an e-mail notice when we post the latest issue.
</p>

<hr> <a href="index.html">Linux Gazette Front Page</a>            
<p> Maintained by <a href="mailto:&#109;&#105;&#114;&#114;&#111;&#114;&#115;&#64;&#108;&#105;&#110;&#117;&#120;&#103;&#97;&#122;&#101;&#116;&#116;&#101;&#46;&#110;&#101;&#116;">Ben Okopnik</a>
of <i>Linux Gazette</i></p>
<p>
<br>
<small><strong>
The flag images on this page are provided courtesy of <a
href="http://www.EdwardMooney.com/miniflags/">Mooney's MiniFlags</a>. These
flag images are licensed for use with
Linux Gazette and for non-commerical sites only. For commercial use,
please contact Edward Mooney at the above link.
</strong></small>
<p>

